<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="{% if request.path == '/' %}selected{% endif %}">Home</a></li>
                <li><a href="/about" class="{% if request.path == '/about' %}selected{% endif %}">About</a></li>
                <li><a href="/greet/FlaskUser" class="{% if request.path == '/greet/FlaskUser' %}selected{% endif %}">Greet</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

        <footer>
            <p>&copy; Flask</p>
        </footer>
   
</body>
</html>